<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 ellipsis">
        {{ content.name }}
        <q-tooltip
          content-class="bg-grey-9"
          content-style="font-size: 13px"
          color="white"
          :offset="[10, 10]"
        >
          {{ content.name }}
        </q-tooltip>
      </div>
      <div class="text-subtitle2 ellipsis">
        by {{ content.author }}
        <q-tooltip
          content-class="bg-grey-9"
          content-style="font-size: 13px"
          color="white"
          :offset="[10, 10]"
        >
          {{ content.author }}
        </q-tooltip>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      Synopsis:<br />
      {{ lorem }}
    </q-card-section>

    <q-separator />

    <q-card-section>
      Series:<br />
      <span class="ellipsis text-subtitle2" v-if="content.series !== ''"
        >{{ content.series }}
        <q-tooltip
          content-class="bg-grey-9"
          content-style="font-size: 13px"
          color="white"
          :offset="[10, 10]"
        >
          {{ content.series }}
        </q-tooltip> </span
      ><span v-else>(none)</span>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'BookCard',
  props: ['content'],
  data () {
    return {
      lorem:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>
