<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-3">
    <q-header elevated class="bg-blue-grey-10 text-white">
      <div class="full-width row wrap justify-start content-around">
        <div class="col-3 col-md-3 col-sm-3 col-xs-12">
          <q-toolbar class="col-4 col-md-4 col-sm-4 q-pt-sm text-center">
            <q-toolbar-title>
              <img
                width="150px"
                alt="Vue + Quasar"
                src="~assets/quasar-vue.png"
              />
            </q-toolbar-title>
          </q-toolbar>
        </div>
        <div class="col-8 col-md-8 col-sm-8 col-xs-12">
          <q-select
            v-model="books"
            placeholder="Search book by author, series or title"
            use-input
            hide-selected
            fill-input
            dense
            input-debounce="0"
            bg-color="grey-3"
            outlined
            label-color="grey-1"
            :options="options"
            :value="keyword"
            class="q-ma-sm"
            color="grey-3"
            clearable
            emit-value
            hint="Use comma ( , ) for multiple keywords search"
            option-value="value"
            option-label="value"
            @clear="clearValue"
            @filter="search"
            @input-value="getVal"
            @keyup.enter="doSearch"
          >
            <template v-slot:prepend>
              <q-icon color="grey-9" name="search" />
            </template>

            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section>
                  <q-item-label>
                    <q-chip
                      dense
                      size="12px"
                      :color="coloringChip(scope.opt.key)"
                      text-color="white"
                    >
                      {{ scope.opt.key }}
                    </q-chip>
                    {{ scope.opt.value }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>
    </q-header>

    <q-page-container>
      <div class="q-pa-md" v-show="books">
        Found {{ result.length }} result(s)
        <br />
      </div>
      <div
        v-if="list.length"
        class="fit row wrap justify-center items-start content-start"
      >
        <div
          v-for="(item, index) in list"
          :key="index"
          class="col-4 col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-2 q-pa-sm"
        >
          <BookCard :content="item" />
        </div>
        <q-infinite-scroll
          @load="onLoadScroll"
          :offset="250"
          v-show="keepLoading && result.length > 5"
        >
          <template v-slot:loading>
            <div class="row justify-center q-my-md">
              <q-spinner-dots color="primary" size="40px" />
            </div>
          </template>
        </q-infinite-scroll>
        <div
          class="text-center text-grey-6"
          style="width: 100%"
          v-show="!keepLoading"
        >
          <div style="font-size: 2em">
            <q-icon name="outlined_flag" />
          </div>
          - end of search result -
          <br /><br />
        </div>
      </div>

      <Index v-if="list.length == 0" />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import BookCard from '../components/BookCard'
import Index from '../pages/Index'
export default {
  name: 'MainLayout',
  components: { BookCard, Index },
  data () {
    return {
      books: '',
      options: [],
      keyword: '',
      list: [],
      result: [],
      display: 5,
      keepLoading: true
    }
  },
  methods: {
    onLoadScroll (index, done) {
      if (this.list.length < this.result.length) {
        const sliced = this.result.slice(this.display, this.display + 5)
        setTimeout(() => {
          sliced.forEach((item) => {
            this.list.push(item)
          })
          this.display += 5
          done()
        }, 1000)
      } else {
        this.keepLoading = false
      }
    },
    coloringChip (val) {
      const obj = {
        author: 'red',
        name: 'blue',
        series: 'orange'
      }
      return obj[val]
    },
    getVal (val) {
      if (this.books !== '') this.books = ''
      this.keyword = val
    },
    doSearch () {
      this.books = this.keyword
      if (this.keyword.length > 2) {
        this.$axios
          .get('/book', {
            crossdomain: true,
            params: {
              keyword: this.keyword
            }
          })
          .then((response) => {
            this.doFilter(response.data.result, this.keyword)
          })
      }
    },
    doFilter (data, needle) {
      let result = []
      data.map((item) => {
        Object.entries(item).forEach((value) => {
          if (needle.indexOf(',')) {
            var sp = needle.split(',')
            sp.forEach((item) => {
              result = this.compare(value, item, result)
            })
          } else {
            result = this.compare(value, needle, result)
          }
        })
      })
      if (this.books) this.list = data.slice(0, this.display)
      result = [...new Map(result.map((item) => [item.value, item])).values()]
      this.options = [...new Set(result)]
      this.result = data
    },
    compare (value, needle, result) {
      if (
        value[1] !== '' &&
        value[1].toLowerCase().indexOf(needle.trim().toLowerCase()) > -1
      ) {
        result.push({
          key: value[0],
          value: value[1]
        })
      }
      return result
    },
    search (val, update, abort) {
      if (val.length <= 2) {
        abort()
        return
      }
      update(() => {
        this.$axios
          .get('/book', {
            crossdomain: true,
            params: {
              keyword: val
            }
          })
          .then((response) => {
            this.doFilter(response.data.result, val)
          })
      })
    },
    clearValue () {
      this.options = []
      this.result = []
      this.list = []
      this.display = 5
      this.keyword = null
      this.keepLoading = true
    }
  },

  watch: {
    books (newval, oldval) {
      this.display = 5
      this.keepLoading = true
      if (this.books) {
        const searchVal = this.books.toLowerCase()
        this.list = this.result.filter((item) => {
          return (
            item.author.toLowerCase().indexOf(searchVal) > -1 ||
            item.series.toLowerCase().indexOf(searchVal) > -1 ||
            item.name.toLowerCase().indexOf(searchVal) > -1
          )
        })
        this.doFilter(this.list, searchVal)
      } else {
        this.result = []
        this.list = []
      }
    }
  }
}
</script>
<style lang="scss">
.q-select__dropdown-icon {
  display: none;
}
.q-infinite-scroll {
  width: 100%;
}
.q-field__messages div {
  color: #ccc;
}
</style>
